.container {
  margin-top: 10%;
}
.login-form {
  color: black;
  /* border: 2px solid black; */
}
.login-form h3 {
  margin-top: 15%;
  text-align: center;
  color: #333;
}

.login-container form {
  padding: 0%;
}

.message {
  overflow: hidden;
}

.form-group input{
  color: white;
}

.active{
  background: gray;
}

.sender {
  float: left;
  background: ghostwhite;
  border-radius: 10px;
  height: 40px;
  justify-content: center;
}

.receiver {
  float: right;
  margin-left: -10%;
  background: ghostwhite;
  border-radius: 10px;
  height: 40px;
}


